<div class="text-center">
  <h2 class="postDescription" >{{title}}</h2>
  <p >{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

<div class="comment text-center">
  <form action="/" method="post">
  <div>
  <textarea placeholder="Leave a comment" name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;"></textarea>
  </div>
  <input type="submit" data-id="{{id}}"  data-name="{{user.name}}" id="submitComment" value="Submit">
<div>
  {{#each comments as |comment|}}
    <div class="commentBox">
        <h4 class="commentInfo">{{comment.comment_info}}</h4>
        <h4 class="commentPerson">Comment left By: {{comment.comment_user}}</h4>
    </div>
    {{/each}}
  </div>
</div>

  </form>
</div>
    
<script src="/js/post.js"></script>
