<div class="text-center">
  <h2>{{user.name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

<div class="comment text-center">
  <button class="btn btn-sm commentBtn" data-id="{{post.id}}">Leave a Comment
  </button>
</div>
    
<script src="./js/post.js"></script>
